.image{
    width: 100%;
}

.heading{
    font-family: serif;
    font-weight: bold;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    margin-top: 40px;
    color: white;
    background: #282828;
}

body{
    background: #282828 !important;
}